.full-height{
    min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
}
.app-wrapper {
min-height: 100%;
}

body{
    color: #495057;
}

.bg-vegetables {
    position: absolute;
    background: url("~@/assets/img/veggies.jpg");
    background-size: 8%;
    opacity: 0.2;
  }