.full-height{
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    min-height:100vh;
    background-color: #f8f9fa;
}
.app-wrapper {
min-height: 100%;
}

body{
    color: #495057!important;
}

.bg-vegetables {
    position: fixed;
    background: url("~@/assets/img/veggies.jpg");
    background-size: 8%;
    opacity: 0.2;
    top: 0;
    z-index: 0
  }

.bg-gradient{
    background: linear-gradient(87deg,#2dce89,#2dcecc) !important;
}

.w-sm-auto{
    @media (min-width: 576px) { width: auto!important; }
}
.w-md-auto{
    @media (min-width: 768px) { width: auto!important; }
}
.w-md-45{
    @media (min-width: 768px) { width: 45%!important; }
}
.w-md-10{
    @media (min-width: 768px) { width: 10%!important; }
}

.border-color1{
    border: 1px solid;
    border-color: #1d8280;
}
.bg-color1{
    background-color:#2dcecc
}
.bg-color2{
    background-color:#2dce89
}
.text-color2{
    color:#2dce89
}

.link-white{
    a{
        color: #fff !important;
    }
}
.link-color1{
    a{
        color: #1d8280 !important;
    }
}

.no-hover:hover{
    text-decoration: none;
}

.text-extra-sm{
    font-size: 0.6rem;
}

.text-sm{
    font-size: 0.9rem;
}

.v-middle{
    vertical-align: middle!important;
}

.card-buttons{
    width: 35px;
}

.cursor-pointer{
    cursor: pointer
}